body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: Arial, sans-serif;
    margin: 2%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #b3ff00;
    /* verde fluor neón */
}

h1 {
    color:greenyellow;
    /* verde neon fuerte */
    text-align: center;
    margin-top: 20px;
  
}

h5,
h6 {
    color: white;
    text-align: center;
    margin-top: 10px;
  
}

p {
    color: #9cff00;
    text-align: center;
    margin-top: 10px;
   
}

.boton {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color:greenyellow;
    color: #000;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

.boton:hover {
    background-color: #a4ff00;
    color: #000;
    cursor: pointer;
    box-shadow: 0 0 16px #a4ff00;
}