body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: 'Get Schwifty';
    margin: 2%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #b3ff00;
    /* verde fluor neón */
}

h1 {
    @font-face {
        font-family: 'Get Schwifty';
        src: url('GetSchwifty.ttf') format('truetype');
    }
  
}

h5,
h6 {
    color: white;
    text-align: center;
    margin-top: 10px;

}

p {
    color: yellowgreen;
    text-align: center;
    margin-top: 10px;

}
.busqueda {
    background-color: (linear-gradient(135deg, #0f2027, #203a43, #2c5364));
    border: 1px solid yellowgreen;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    margin: 20px auto;
}

.boton {
    background-color: #000;
    color: yellowgreen;
    border: 2px solid yellowgreen;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: 0 0 5px yellowgreen;

}

.boton:hover {
    background-color: yellowgreen;
    color: #000;
    text-shadow: none;
}